#include "resource.h"
#include <afxres.h>
IDR_THEMENU MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "E&xit", ID_FILE_EXIT
END
END

IDD_SIMPLECONTROL DIALOG 50, 50, 150, 142
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
MENU IDR_THEMENU
CAPTION "Simple Prog"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON "Hello!", ID_HELLO, 10, 10, 40, 15
END
